.center {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

.center2 {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#SB{
    background-image: url("S_BG.png");
    background-size:cover;
    border-radius: 14px;
    width:500px;
    height:500px;
    border:none
}
#S{
    background-image: url("S_OFF.png");
    background-size:cover;
    width: 150px;
    height: 220px;
    border:none;
    border-radius:8px;
}
